body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.quoteMain-contain {
  background-color: #F9DD01;
}

.quoteMain-contain h1 {
  font-size: 4rem;
  padding: 2rem;
}

.card-contain {
  width: 30%;
}

.title {
  font-size: 4rem;
}

.quoteText {
  font-size: 2rem;
}
